<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/alt_window_16.gif">
         <run
               class="com.casmall.dts.manage.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="com.casmall.dts.manage.Perspective"
            id="com.casmall.dts.manage.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.casmall.dts.ui.view.UsrInfMgtView"
            icon="icons/tab.png"
            id="com.casmall.dts.ui.view.UsrInfMgtView"
            name="사용자 관리"
            restorable="true">
      </view>
      <view
            class="com.casmall.dts.manage.ui.view.AuthMgtView"
            icon="icons/tab.png"
            id="com.casmall.dts.manage.ui.view.AuthMgtView"
            name="인증번호 관리"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="com.casmall.dts.manage.ui.view.AuthMgtView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.casmall.dts.manage.application"
            name="com.casmall.dts.manage">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="com.casmall.dts.manage">
         </property>
         <property
               name="aboutImage"
               value="icons/alt_about.gif">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="com.casmall.dts.manage.splashHandlers.InteractiveSplashHandler"
            id="com.casmall.dts.manage.splashHandlers.interactive">
      </splashHandler>
      <splashHandlerProductBinding
            productId="com.casmall.dts.manage.product"
            splashId="com.casmall.dts.manage.splashHandlers.interactive">
      </splashHandlerProductBinding>
   </extension>

</plugin>
